@import "src/@fuse/scss/fuse";

#profile {


 .profile-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    @include mat-elevation(2);
    margin: 3% 8%;
    header {
        padding: 16px;

        .title {
            font-size: 17px;
        }

        .more {
            cursor: pointer;
        }
    }

    .content {
        padding: 16px;
    }

    footer {
        padding: 8px;
        border-top: 1px solid;
    }

    &.info-box {

        .info-line {
            margin-bottom: 24px;

            .title {
                font-size: 15px;
                font-weight: 600;
                padding-bottom: 4px;
            }

            .info {

            }

            &:last-child {
                margin-bottom: 0;
            }
        
        }
    }
}
}
.ex-1
{
    overflow:scroll;
}

@media screen and (min-width: 1000px) {
.camera{
    margin-left: 38px;
    margin-top: -33px;
}
}