<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    account_circle
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    User Management
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/apps/e-commerce/products/new'"
                class="add-product-button fuse-white mt-24 mt-md-0">
                <span>Add user</span>
            </button>

            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>



                <!-- Image Column -->
                <ng-container matColumnDef="image" style="width: 200px;">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <img class="product-image" *ngIf="product.featuredImageId" [alt]="product.name"
                            [src]="product.images[product.featuredImageId].url" />
                        <img *ngIf="!product.featuredImageId"
                            [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="username" style="width: 200px;text-overflow: ellipsis; ">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.username}}</p>
                    </mat-cell>
                </ng-container>
                <!--email-->
                <ng-container matColumnDef="modified">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Modified</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.modified}}</p>
                    </mat-cell>
                </ng-container>
                <!--user Type-->
                <ng-container matColumnDef="userType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User Type</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.userType}}</p>
                    </mat-cell>
                </ng-container>

                <!--User Role-->
                <ng-container matColumnDef="userRole">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User Role</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="text-truncate">{{product.userRole}}</p>
                    </mat-cell>
                </ng-container>


                <!-- Active Column -->
                <ng-container matColumnDef="active" style="width: 200px;">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs> Status</mat-header-cell>
                    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs style="color: rgb(0, 102, 153);font-weight:600;">
                        <p class="text-truncate">{{product.status}}</p>
                        <!-- <mat-icon *ngIf="product.active" class="active-icon green-600 s-16" style="margin-left: 15px;">
                            check</mat-icon>
                        <mat-icon *ngIf="!product.active" class="active-icon red-500 s-16" style="margin-left: 15px;">
                            close</mat-icon> -->
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;">Action
                    </mat-header-cell>
                    <mat-cell *matCellDef="let product" style="justify-content: center;">
                             <button mat-icon-button *ngIf="product.action" style="color:#42a1f5;"
                            [routerLink]="'/apps/e-commerce/products/'+product.id+'/'+product.handle">
                            <mat-icon>edit</mat-icon>
                        </button><span>
                            <!-- <button mat-icon-button *ngIf="product.action" style="color:red;margin-left:5px"><mat-icon>delete</mat-icon></button></span>                             -->
                            <button mat-icon-button color="accent" style=" color:red;background-color: white;"
                                (click)="deleteContact()">
                                <mat-icon>delete</mat-icon>
                            </button></span>
                        <!-- <mat-icon *ngIf="!product.active" class="active-icon red-500 s-16">close</mat-icon> -->
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let product; columns: displayedColumns;" class="product">
                    <!-- matRipple
                         [routerLink]="'/apps/e-commerce/products/'+product.id+'/'+product.handle"> -->
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>