<div class="theme-options-panel" fusePerfectScrollbar>
  <div class="header">
    <span class="title">Theme Options</span>
    <button mat-icon-button class="close-button" (click)="toggleSidebarOpen('themeOptionsPanel')">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="content">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Legacy form field</mat-label>
        <input matInput placeholder="Placeholder" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </div>
</div>