<div class="theme-options-panel" fusePerfectScrollbar>

    <div class="header">

        <span class="title">Theme Options</span>

        <button mat-icon-button class="close-button" (click)="toggleSidebarOpen('themeOptionsPanel')">
            <mat-icon>close</mat-icon>
        </button>

    </div>
    <form  fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
    name="form" [formGroup]="form" style="height: 650px !important;">
    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName" type="text" [readonly]="viewMode" />
        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        <!-- <mat-error>First Name is required!</mat-error> -->
      </mat-form-field>

    </form>
    

</div>
