<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <div class="icon"align="right">
                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                    <!-- <button mat-mini-fab color="light"><mat-icon>edit</mat-icon></button> -->
                   
                    <!-- <button mat-mini-fab color="light"style="margin-left:10px;"(click)="deleteContact()"><mat-icon>delete</mat-icon></button> -->
                    <button mat-mini-fab color="light"(click)="matDialogRef.close()" style="margin-left:10px;margin-top: 10px;"><mat-icon>close</mat-icon></button>
                    
                       
                </div>
            </div>
            <!-- <button mat-icon-button color="accent" style="background-color: white;margin-right: 5px;"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog" color="accent" style="background-color: white;margin-left: 5px;">
                <mat-icon>close</mat-icon>
            </button> -->
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <!-- <img [src]="contact.avatar" class="avatar contact-avatar huge m-0"
                 [alt]="contact.name"/>
            <div class="contact-name mt-8">{{contact.name}} {{contact.lastName}}</div> -->
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Enter Company Name</mat-label>
                    <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                    <input name="x" formControlName="x" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Enter Job Title</mat-label>
                    <mat-icon matSuffix class="secondary-text">work_outline</mat-icon>
                    <input name="name" formControlName="name" matInput required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Enter Job Description</mat-label>
                    <textarea matInput></textarea>
                    <mat-icon matSuffix class="secondary-text">edit</mat-icon>
                    <input name="desc" formControlName="desc" matInput required>
                </mat-form-field>
            </div>
            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Lastname</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="lastName" formControlName="lastName" matInput>
                </mat-form-field>
            </div> -->

            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nickname</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <input name="nickname" formControlName="nickname" matInput>
                </mat-form-field>
            </div> -->

          

            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Email</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="email" formControlName="email" matInput type="email">
                </mat-form-field>
            </div> -->

           
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Enter Position</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input formControlName="vacancies" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Enter Skills</mat-label>
                    <mat-icon matSuffix class="secondary-text">contact_support</mat-icon>
                    <input formControlName="req" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Enter Bill Rate</mat-label>
                    <mat-icon matSuffix class="secondary-text">money</mat-icon>
                    <input formControlName="sal" matInput>
                </mat-form-field>
            </div>
            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Posted On</mat-label>
                    <mat-icon matSuffix class="secondary-text">calender_today</mat-icon>
                    <input formControlName="post_date" matInput>
                </mat-form-field>
            </div> -->
            <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Posted On</mat-label>
               
                <input matInput [matDatepicker]="picker1">
               
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <input matInput formControlName="post_date">
                <!-- <mat-error> DOB is required!</mat-error> -->
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>End Date</mat-label>
                   
                    <input matInput [matDatepicker]="picker2">
                   
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <input matInput formControlName="end_date">
                    <!-- <mat-error> DOB is required!</mat-error> -->
                  </mat-form-field>
                </div>


            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>End Date</mat-label>
                    <mat-icon matSuffix class="secondary-text">calender_today</mat-icon>
                    <input formControlName="end_date" matInput>
                </mat-form-field>
            </div> -->
            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Requirements</mat-label>
                    <mat-icon matSuffix class="secondary-text">contact_support</mat-icon>
                    <input formControlName="requirements" matInput>
                </mat-form-field>
            </div> -->
            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Phone number</mat-label>
                    <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                    <input formControlName="phone" matInput>
                </mat-form-field>
            </div> -->
            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Job title</mat-label>
                    <mat-icon matSuffix class="secondary-text">work</mat-icon>
                    <input name="jobTitle" formControlName="jobTitle" matInput>
                </mat-form-field>
            </div> -->

            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Birthday</mat-label>
                    <input matInput [matDatepicker]="birthdayDatePicker" name="birthday" formControlName="birthday">
                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayDatePicker></mat-datepicker>
                </mat-form-field>
            </div> -->

            <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>
                        ress</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="address" formControlName="address" matInput>
                </mat-form-field>
            </div> -->

            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Notes</mat-label>
                    <textarea name="notes" formControlName="notes" matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',contactForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(contactForm)"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',contactForm])"
                [disabled]="contactForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
