@import "src/@fuse/scss/fuse";
#configuration {
  .top-bg {
    @include media-breakpoint("lt-md") {
      height: 256px;
    }
  }
  > .center {
    > .header {
      justify-content: space-between !important;
      .search-wrapper {
        width: 100%;
        max-width: 480px;
        border-radius: 28px;
        overflow: hidden;
        @include mat-elevation(1);
        background-color: white;
        color: black;
        margin-left: 32px;
        margin-right: 32px;
        @include media-breakpoint("xs") {
          width: 100%;
        }
        .search {
          width: 100%;
          height: 48px;
          line-height: 48px;
          padding: 0 18px;
          input {
            width: 100%;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
            padding: 0 16px;
            border: none;
            outline: none;
          }
        }
      }
      @include media-breakpoint("lt-md") {
        padding: 8px 0;
        height: 192px !important;
        min-height: 192px !important;
        max-height: 192px !important;
      }
    }
  }
}

.example-container2 {
  display: flex;
  flex-direction: column;
  height: 340px;
  overflow: auto;
  min-width: 300px;
}
.mat-header-row {
  height: 63px;
}

.mobile-label {
  display: none;
}
.table-log {
  height: 500px;
}
.header-display {
  display: flex;
}
.button-sm-show {
  display: none;
}
.button-lg-show {
  display: block;
}
.mat-column-function {
  flex: 0 1 144px;
}
.mat-column-screenUsed {
  flex: 0 1 242px;
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 40px;
}
@media only screen and (max-width: 400px) {
  .mobile-label {
    width: 122px;
    display: inline-block;
    font-weight: bold;
  }
  .mat-header-row {
    display: none;
  }
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    height: 262px !important;
  }

  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 0px;
  }

  .h1 {
    font-size: 15px;
    margin-left: -14px;
  }
  .add-button2 {
    margin-left: 113px;
    margin-bottom: 18px;
  }
  .logo-display {
    margin-bottom: 10px;
  }
  .header-display {
    display: block !important;
  }
  .button-sm-show {
    display: block;
  }
  .button-lg-show {
    display: none;
  }
  #configuration > .center > .header .search-wrapper {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (orientation: landscape) and (max-width: 959px) {
  #configuration .top-bg {
    height: 163px;
  }
  #configuration > .center > .header {
    height: 102px !important;
    min-height: 102px !important;
    max-height: 192px !important;
    justify-content: space-between !important;
  }
  .h1 {
    font-size: 17px;
    margin-left: -14px;
  }
  .add-button2 {
    margin-left: 20px;
    margin-bottom: 18px;
  }
  .logo-display {
    margin-top: 24px;
  }
  #configuration > .center > .header .search-wrapper {
    width: 44%;
  }
  .example-container2 {
    display: flex;
    flex-direction: column;
    height: 148px;
    min-width: 300px;
    overflow: auto;
  }
  .mat-column-screenUsed {
    flex: 0 1 104px;
  }
  .mat-column-function {
    flex: 0 1 74px;
  }
}

@media screen and (min-width: 600px) {
  #configuration > .center > .header .search-wrapper {
    width: 41%;
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) and(orientation : portrait) {
  .mobile-label {
    width: 122px;
    display: inline-block;
    font-weight: bold;
  }
  .mat-header-row {
    display: none;
  }
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    height: 262px !important;
  }

  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 0px;
  }

  .h1 {
    font-size: 15px;
    margin-left: -14px;
  }
  .add-button2 {
    margin-left: 157px;
    margin-bottom: 18px;
  }
  .logo-display {
    margin-bottom: 10px;
  }
  .header-display {
    display: block !important;
  }
  .button-sm-show {
    display: block;
  }
  .button-lg-show {
    display: none;
  }
  #configuration > .center > .header .search-wrapper {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and(orientation : portrait) {
  .mat-column-screenUsed {
    flex: 0 1 104px;
  }
  .mat-column-function {
    flex: 0 1 74px;
  }
}