<div id="configuration" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <div class="header accent header-display" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">
      <div class="logo mb-24 mb-md-0 logo-display" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }">
          settings
        </mat-icon>
        <span class="logo-text h1" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
          Configuration
        </span>
        <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0 mt-sm-0 button-sm-show add-button2"
          (click)="openDialog({}, 'resetall')" *ngIf="roleName === 'Admin'">
          Reset All
        </button>
      </div>
      <div class="search-wrapper mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #filter placeholder="Search" (keyup)="searchFromTable($event.target.value)" />
        </div>
      </div>
      <!-- <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0" (click)="addRole()">
        <span>Add User</span>
      </button> -->
      <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0 mt-sm-0 button-lg-show"
        *ngIf="roleName === 'Admin'" (click)="openDialog({}, 'resetall')">
        Reset All
      </button>
    </div>
    <div class="content-card">
      <div class="example-container2">
        <mat-table [dataSource]="dataSource" matSort [@animateStagger]="{ value: '50' }"
          class="table-log">
          <ng-container matColumnDef="name" style="text-overflow: ellipsis; overflow: hidden;">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="mobile-label">Name</span>
              {{ element.name }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="screenUsed" style="text-overflow: ellipsis;">
            <mat-header-cell *matHeaderCellDef>Screen Used</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="mobile-label">Screen Used</span>
              {{ element.screenUsed }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="function" style="text-overflow: ellipsis;">
            <mat-header-cell *matHeaderCellDef>Function</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="mobile-label">Function</span>
              {{ element.function }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="value" style="text-overflow: ellipsis;">
            <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span class="mobile-label">Value</span>
              {{ element.value }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action" style="text-overflow: ellipsis;" *ngIf="roleName === 'Admin'">
            <mat-header-cell *matHeaderCellDef style="justify-content: center;">Action </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;">
              <span class="mobile-label">Action</span>

              <button mat-icon-button style="color: #42a1f5;" (click)="openDialog(element, 'edit')" matTooltip="Edit">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button style="color: #42a1f5;" (click)="openDialog(element, 'renew')" matTooltip="Renew">
                <mat-icon>autorenew</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns" layout-gt-xs-height:100px></mat-row>
        </mat-table>
      </div>
      <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"> </mat-paginator>
    </div>
  </div>
</div>