<div id="login" fxLayout="column">
    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="login-form">
            <div class="logo">
                <img [src]="logoPath"><span style="color:#0066ff;font-size:bold;"></span>
            </div>

            <div class="title" *ngIf="!showResetContent">Login</div>
            <form name="loginForm" [formGroup]="loginForm" novalidate *ngIf="!showResetContent" style="margin-top: -15px;">
                <mat-form-field appearance="outline">
                    <mat-label>User Name / Email</mat-label>
                    <input matInput formControlName="userName">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('userName').hasError('required')">Email is required </mat-error>
                    <!-- <mat-error
                        *ngIf="!loginForm.get('userName').hasError('required') && loginForm.get('userName').hasError('email')">
                        Please enter a valid email address</mat-error> -->
                </mat-form-field>

                <mat-form-field appearance="outline" cursor = "pointer">
                    <mat-label>Password</mat-label>
                    <input matInput type="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
                        required maxlength="15">
                    <mat-icon matSuffix class="secondary-text" (click)="hide = !hide"cursor = "pointer">
                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="loginForm.get('password').hasError('required')"> Password is required </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('password').hasError('required') && loginForm.get('password').hasError('email')">
                        Please enter a valid email address or password</mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                    fxLayoutAlign="space-between center">
                    <!-- <mat-checkbox class="remember-me" aria-label="Remember Me"> Remember Me</mat-checkbox> -->
                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">Forgot Password? </a>
                </div>
                <re-captcha (resolved)="resolved($event)" *ngIf="reCaptcha===true" formControlName="recaptchaReactive"  siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"> </re-captcha>               
                <div style="text-align: center;">
                    <mat-error *ngIf="invalidData===false" style="font-weight: bold;">Invalid Username or Password</mat-error>
                </div>
                <div style="text-align: center;">
                    <mat-error *ngIf="inActive">{{errorMessage}}</mat-error>
                </div>
               
                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" (click)="login(loginForm.value)" type="submit" [disabled]="loginForm.invalid">LOGIN</button>
               
               
                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"[routerLink]="'/pages/auth/register'">SIGN UP</button>
               
                
            </form>
            <div class="title" *ngIf="showResetContent">
                <h3 style=color:#3366ff;>Password expired</h3>
                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                    [routerLink]="'pages/auth/reset-password'" type="submit">Reset password</button>

            </div>
            <div class="title" *ngIf="showResetContent"></div>
        </div>
    </div>
</div>
