@import "src/@fuse/scss/fuse";

#dashboard-analytics {

    .main-widget {
        display: flex;
        flex-direction: column;
    }

    .content {
        background-color: white;
        display: flex;
        flex: 1 1 auto;
        padding: 32px;
        min-width: 0;

        @include media-breakpoint('lt-lg') {
            flex-direction: column;
        }

        .left {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            min-width: 0;

            .widget {
                flex: 1 1 auto;
                min-width: 0;
            }
        }

        .right {
            display: flex;
            flex: 0 0 auto;
            width: 320px;
            min-width: 320px;
            max-width: 320px;

            @include media-breakpoint('lt-lg') {
                flex: 1 0 100%;
                margin-top: 32px;
                width: 100%;
                min-width: 0;
                max-width: none;
            }

            .fuse-card {

                @include media-breakpoint('lt-lg') {
                    width: 100%;
                    min-width: 0;
                    max-width: none;
                }
            }
        }
    }

}
mat-grid-tile {
    background:none;
  }
  .example-card {
    // width: 200px;
    height:223px;
    background-image: linear-gradient(to top left,#0790f2,#0af7ff)!important;
   
    transition: transform .5s;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
        content: '';
        opacity: 0;
        z-index: -1;
      }
    
      &:hover,
      &:focus {
        transform: scale3d(1.006, 1.006, 1);
    
        &::after {
          opacity: 1;
        }
      }
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat-card-actions
  {
color:blue;
  }

  .card__one {
    transition: transform .5s;
  
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
      content: '';
      opacity: 0;
      z-index: -1;
    }
  
    &:hover,
    &:focus {
      transform: scale3d(1.006, 1.006, 1);
  
      &::after {
        opacity: 1;
      }
    }
  }
