<div id="dashboard-analytics" class="page-layout blank" >
    <div class="content">

        <div class="left mr-lg-32" *ngIf="userInfo?.roleName!== 'Candidate View'">
            <div class="pb-24 font-size-18 font-weight-300">
                Current Month Status
            </div>

            <div fxLayout="column" fxLayoutAlign="start"
            fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                <mat-card class="example-card1">

                    
                    <mat-card-header style="height:68px;">
                        <button mat-mini-fab color="accent">
                            <mat-icon>work_outline</mat-icon>
                            
                          </button>
                          
                        

                      <mat-card-title style="margin-bottom: 0px;">Position Available</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    
                    </mat-card-header>
                    <mat-card-content style="height: 76px;">
                        <div class="font-size-48 font-weight-300 line-height-1 mt-8"style="text-align:center">
                            {{widgets.widget3.impressions.value}}
                        </div>
                      
                    </mat-card-content>
                    <mat-card-actions style="height: 80px;">
                        <mat-progress-bar mode="determinate" color="primary"value="70" style="width:100%;margin-bottom:1px;"></mat-progress-bar> 
                    </mat-card-actions>
                </mat-card>
                </div>
            </div>

            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                    <mat-card class="example-card1">
                        <mat-card-header style="height:68px;">
                            <button mat-mini-fab color="primary">
                                <mat-icon>work_off</mat-icon>
                                
                              </button>
                              
                            

                          <mat-card-title style="margin-bottom: 0px;">Position Closed</mat-card-title>
                          <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content style="height:76px;">
                            <div class="font-size-48 font-weight-300 line-height-1 mt-8"style="text-align:center">
                                {{widgets.widget31.impressions.value}}
                            </div>
                        </mat-card-content>
                        <mat-card-actions style="height:80px;">
                            
 <mat-progress-bar mode="determinate" color="primary"value="40" style="width:100%;margin-bottom:1px;"></mat-progress-bar> 


                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
               
                    <mat-card class="example-card1">
                        <mat-card-header style="height:68px;">
                            <button mat-mini-fab color="accent">
                                <mat-icon>group</mat-icon>
                                
                              </button>
                              
                            

                          <mat-card-title style="margin-bottom: 0px;">Mapped Candidates</mat-card-title>
                          <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content style="height:76px;">
                            <div class="font-size-48 font-weight-300 line-height-1 mt-8"style="text-align:center">
                                {{widgets.widget32.impressions.value}}
                            </div>
                        </mat-card-content>
                        <mat-card-actions style="height:80px;">
                            <mat-progress-bar mode="determinate" color="primary"value="50" style="width:100%;margin-bottom:1px;"></mat-progress-bar> 
                        </mat-card-actions>
                    </mat-card>


                </div>
            </div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="33">
                <div class="fuse-card auto-width mb-32" [ngClass.gt-sm]="'mb-0 mr-32'">
                

                    <mat-card class="example-card1">
                        <mat-card-header style="height: 68px;">
                            <button mat-mini-fab color="warn">
                                <mat-icon>person</mat-icon>
                                
                              </button>
                              
                            

                          <mat-card-title style="margin-bottom: 0px;">Rejected Candidates</mat-card-title>
                          <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content style="height: 76px;">
                            <div class="font-size-48 font-weight-300 line-height-1 mt-8"style="text-align:center">
                                {{widgets.widget33.impressions.value}}
                            </div>
                        </mat-card-content>
                        <mat-card-actions style="height: 80px;">
                            <mat-progress-bar mode="determinate" color="primary"value="20" style="width:100%;margin-bottom:1px;"></mat-progress-bar> 
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            </div>
            
            <div fxLayout="column" fxLayoutAlign="start"
                 fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
            </div>

            <!-- Widget 5 -->
            <div class="pt-48 pb-24 font-size-18 font-weight-300">
              Graphical representation based on years

            </div>

            <div class="fuse-card auto-width">

                <div class="position-relative p-24"
                     fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span class="h2">Resumes Received & Mapped</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                             (click)="widget5SelectedDay = 'yesterday'"
                             [ngClass]="{'accent': widget5SelectedDay === 'yesterday'}">
                            2019
                        </div>
                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                             (click)="widget5SelectedDay = 'today'"
                             [ngClass]="{'accent': widget5SelectedDay === 'today'}">
                            2020
                        </div>
                    </div>
                </div>

                <div class="position-relative h-368 pb-16">
                    <canvas baseChart
                            [datasets]="widgets.widget5.datasets[widget5SelectedDay]"
                            [labels]="widgets.widget5.labels"
                            [colors]="widgets.widget5.colors"
                            [options]="widgets.widget5.options"
                            [chartType]="widgets.widget5.chartType">
                    </canvas>
                </div>

            </div>
            <div></div>
         

    </div>

</div>
