<div id="users" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <!--HEADER-->
    <div class="header accent header-display" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="space-between center">
      <div class="logo mb-24 mb-md-0 logo-display" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }">
          people
        </mat-icon>
        <span class="logo-text h1" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
          User Management
        </span>
        <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0 mt-sm-0 button-sm-show add-button"
          (click)="addRole()" *ngIf="roleName === 'Admin'">
          <span>Add User</span>
        </button>
      </div>

      <div class="search-wrapper mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #filter placeholder="Search" (keyup)="searchFromTable($event.target.value)" />
        </div>
      </div>

      <button mat-raised-button class="add-product-button fuse-white mt-24 mt-md-0 mt-sm-0 button-lg-show"
        (click)="addRole()" *ngIf="roleName === 'Admin'">
        <span>Add User</span>
      </button>
    </div>

    <!-- / HEADER -->

    <div class="content-card">
      <div class="content">
      <div *ngIf="isLoading" class="Loading">
        <div class="spinner-wrapper">
          <div class="spinner">
            <div class="inner">
              <div class="gap"></div>
              <div class="left">
                <div class="half-circle"></div>
              </div>
              <div class="right">
                <div class="half-circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="example-container6">
        <mat-table [dataSource]="dataSource" matSort [@animateStagger]="{ value: '50' }">
          <ng-container matColumnDef="image" style="width: 200px;" *ngIf="!isLoading">
            <mat-header-cell *matHeaderCellDef>Profile</mat-header-cell>
            <mat-cell *matCellDef="let product">
              <!-- <span class="mobile-label"></span> -->
              <div *ngIf="product.profileImage != null && product.profileImage !== ''">
                <img [src]="product.profileImage" style="border-radius: 40px; height: 40px; width: 40px;" />
              </div>
              <div *ngIf="product.profileImage == null || product.profileImage === ''">
                <img src="./assets/images/generic.jpg" style="border-radius: 40px; height: 40px; width: 40px;" />
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstName" style="width: 200px; text-overflow: ellipsis;">
            <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
            <mat-cell *matCellDef="let product">
              <span class="mobile-label">First Name</span>
              <p class="text-truncate">{{ product.firstName }}</p>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="lastName" style="width: 200px; text-overflow: ellipsis;">
            <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
            <mat-cell *matCellDef="let product">
              <span class="mobile-label">Last Name</span>
              <p class="text-truncate">{{ product.lastName }}</p>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="userType">
            <mat-header-cell *matHeaderCellDef>User Type</mat-header-cell>
            <mat-cell *matCellDef="let product">
              <span class="mobile-label">User Type</span>

              <p class="text-truncate">{{ product.userType }}</p>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="roleName">
            <mat-header-cell *matHeaderCellDef>User Role</mat-header-cell>
            <mat-cell *matCellDef="let product">
              <span class="mobile-label">User Role</span>

              <p class="text-truncate">{{ product.roleName }}</p>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="activated">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let product" style="color: #006699; justify-content: end center;">
              <span class="mobile-label">Status</span>

              <!-- <p class="text-truncate font-weight-600">{{product.activated }}</p> -->
              <p class="text-truncate font-weight-600" *ngIf="product.activated === true">Active</p>
              <p class="text-truncate font-weight-600" *ngIf="product.activated === false">Inactive</p>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="userId" *ngIf="roleName === 'Admin'">
            <mat-header-cell *matHeaderCellDef style="justify-content: center;">Action </mat-header-cell>
            <mat-cell *matCellDef="let product" style="justify-content: center;">
              <span class="mobile-label">Action</span>

              <button mat-icon-button style="color: #42a1f5;" (click)="editUser(product.userId, product.userType)"
                matTooltip="Edit">
                <mat-icon>edit</mat-icon>
              </button>
              <span>
                <button mat-icon-button color="accent" style="color: red; background-color: white;"
                  (click)="onDelete(product.userId)" matTooltip="Delete">
                  <mat-icon>delete</mat-icon>
                </button></span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns" class="product"> </mat-row>
        </mat-table>
      
      </div>

      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]" [hidden]="isLoading" showFirstLastButtons>
      </mat-paginator>
      <!-- <div class="container" style="height:200px!important;background-color: white;"></div> -->
    </div>
    <!-- </div> -->
  </div>
  </div>
</div>