<div id="profile" class="page-layout carded fullwidth inner-scroll">
    <div class="ex-1">
        <!-- TOP BACKGROUND -->
        <div class="top-bg accent"></div>
        <!-- / TOP BACKGROUND -->

        <!-- CENTER -->
        <div class="center">

            <!-- HEADER -->
            <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

                <!-- APP TITLE -->
                <div fxLayout="row" fxLayoutAlign="start center" style="height: 180px;">

                    <button mat-icon-button class="mr-16" [routerLink]="'../../dashboards/analytics'">

                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
                        fxLayoutAlign.gt-sm="start center">
                        <img class="profile-image avatar huge" src="assets/images/avatars/Nancy.jpg">
                        <div>
                            <button mat-mini-fab color="light" style="margin-left: -50px;
                margin-top: 63px;">

                                <mat-icon>local_see</mat-icon>

                            </button>
                            <!-- <input id="file-upload" type="file" (input)="uploadFile($event)" /> -->
                            <!-- <input type="file"  (change)="onFileSelected($event)" style="margin: 0px;"> -->
                            <input type="file" id="file-upload" (change)="onFileSelected($event)" style="margin: 0px;
                    /* position: absolute; */
                    top: 0;
                    bottom: 0;
                    left: 0px;
                    right: 0;
                    display: ontents;
                    margin-left: -86px;
                    /* height: 23px; */
                    opacity: 0;
                    /* z-index: 1; */
                ">
                        </div>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <div class="info">

                        </div>
                        <div class="subtitle secondary-text">
                            <span></span>

                        </div>
                    </div>


                </div>
                <div class="icon" align="right">
                    <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">

                        <button mat-raised-button color="light" (click)="Edit()" *ngIf="!enableEdit"
                            style="margin-right:30px;width: 100px;">Edit</button>
                        <button mat-raised-button color="light" (click)="Edit()" *ngIf="enableEdit"
                            class="submit-button" style="margin-right:30px;width: 100px; ">Save</button>
                        <button mat-raised-button color="light" (click)="Edit()" *ngIf="enableEdit"
                            class="submit-button" style="margin-right:30px;width: 100px; ">Cancel</button>
                    </div>
                </div>
                <!-- / APP TITLE -->

            </div>
            <!-- / HEADER -->
            <div class="content-card" style="height: 700px !important;">
                <!-- <div class="ex-1"> -->


                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row"
                    style="margin-left:10px;margin-top:10px;margin-right:10px;">

                    <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                        fxFlex="1 0 auto" name="form" [formGroup]="form" style="height: 685px;">

                        <header class="accent" style="height: 54px;font-size: bold;font-size: 17px; padding: 16px;">
                            <div class="title">My Profile<span style="float: right;font-size:11px;">
                                    Last Login: {{lastLogin}}</span>

                            </div>
                            <!-- <div>  <p style="color: white;">Last Login :Feb 13,2014  08:15:26 AM</p></div> -->
                        </header>


                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="margin-top: 20px;">

                            <mat-form-field appearance="outline" fxFlex="33">
                                <mat-label>First Name</mat-label>
                                <input matInput type="text" ngModel formControlName="firstName" type="text" required>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <mat-error>First Name is required!</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="34" class="px-8">
                                <mat-label>Second Name</mat-label>
                                <input matInput type="text" formControlName="firstName">
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <mat-error>First Name is required!</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="33">
                                <mat-label>Last name</mat-label>
                                <input matInput type="text" formControlName="lastName" required>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <mat-error>Last Name is required!</mat-error>
                            </mat-form-field>

                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Email <span style="color: green;">(verified)</span></mat-label>
                                <input matInput type="email" formControlName="email" [disabled]="true">
                                <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                                <mat-error>Email is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                <mat-label>Mobile <span style="color: green">(verified)</span></mat-label>
                                <input matInput type="tel" formControlName="mobile">
                                <mat-icon matSuffix class="secondary-text">call</mat-icon>
                                <mat-error>Mobile is required!</mat-error>
                            </mat-form-field>

                        </div>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Company Name</mat-label>
                                <input matInput type="text" formControlName="companyname" required>
                                <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                                <mat-error>company name is required!</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                <mat-label>Position</mat-label>
                                <input matInput type="text" formControlName="position">
                                <mat-icon matSuffix class="secondary-text">work_outline</mat-icon>
                                <mat-error>company name is required!</mat-error>
                            </mat-form-field>

                        </div>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Address</mat-label>
                                <textarea matInput formControlName="address" required>
                            Flat No 5,%th Avenue,Cambridge
                        </textarea>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field appearance="outline" fxFlex="25">
                                <mat-label>Postal Code</mat-label>
                                <input matInput type="tel" #postalcode value="94043" formControlName="postalcode"
                                    maxlength="5" required>
                                <mat-icon matSuffix class="secondary-text">markunread_mailbox</mat-icon>

                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="25" class="px-8">
                                <mat-label>City</mat-label>
                                <input matInput type="text" formControlName="city">
                                <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="25" class="px-8">
                                <mat-label>State</mat-label>
                                <mat-select formControlName="state">
                                    <mat-option [value]="'United States of America'">
                                        United States of America
                                    </mat-option>
                                    <mat-option [value]="'United Kingdom'">
                                        United Kingdom
                                    </mat-option>

                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex="25">
                                <mat-label>Country</mat-label>
                                <input matInput type="text" formControlName="country">
                                <mat-icon matSuffix class="secondary-text">flag</mat-icon>
                            </mat-form-field>

                        </div>


                        <br>
                        <!-- <p *ngIf ="show1">show</p>       -->

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <div fxFlex="33">
                                <mat-checkbox (change)="changePassword($event.checked)" formControlName="check">Change
                                    Password</mat-checkbox>
                            </div>
                            <mat-form-field appearance="outline" fxFlex="34" *ngIf="showPasswordsection">
                                <mat-label>Current Password</mat-label>
                                <input matInput type="password" formControlName="password" required>
                                <mat-icon matSuffix class="secondary-text">lock</mat-icon>
                                <mat-error>
                                    Password is required
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="33" class="px-8" *ngIf="showPasswordsection">
                                <mat-label>New Password</mat-label>
                                <input matInput type="Password" [type]="hide ? 'password' : 'text'"
                                    formControlName="NewPassword"
                                    pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*?/]).{8,15})" required>
                                <mat-icon matSuffix class="secondary-text" (click)="hide = !hide">
                                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="form.get('NewPassword').hasError('required')">New password is required
                                </mat-error>
                                <mat-error *ngIf="form.get('NewPassword').hasError('minlength')">Password must be at
                                    least 8 characters</mat-error>
                                <mat-error
                                    *ngIf="form.get('NewPassword').hasError('pattern') && form.get('NewPassword').value.length > 7">
                                    Please secure your account with a strong password</mat-error>
                            </mat-form-field>
                            <!-- <div fxflex="25"class="px-8">
       <p> Last Login</p>
        </div> -->
                            <!-- <button mat-raised-button class="submit-button" color="accent"
             aria-label="RESET" [disabled]="form.invalid"style="width:150px;">
         RESET
     </button> -->
                            <!-- <button mat-raised-button class="submit-button" color="accent"
     aria-label="CANCEL"ng-click="cancelEdit()"style="width:150px; margin-left:10px;" >
CANCEL
</button> -->
                        </div>
                        <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" >
                                 <div fxflex="50">
       <p> Last Login :Feb 13,2014  08:15:26 AM</p>
        </div>
                            </div> -->

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>