<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="logoPath">
            </div>

            <div class="title">Reset Your Password</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>
              
                    <mat-form-field appearance="outline" *ngIf="changePassword === false">
                    <mat-label>Current Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">lock</mat-icon>
                    <mat-error>
                       Current password is required
                    </mat-error>
                </mat-form-field>

                
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput type="Password" [type]="hide ? 'password' : 'text'" formControlName="newPassword" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*?/]).{8,15})"required>
                    <mat-icon matSuffix class="secondary-text" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">New password is required</mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('minlength')">Password must be at least 8 characters</mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('pattern') && resetPasswordForm.get('newPassword').value.length > 7"> Please secure your account with a strong password use (A-Z,a-z,0-9 and at least one special character *@#!?)</mat-error>
             </mat-form-field>    

             <mat-form-field appearance="outline">
                  <mat-label>Password (Confirm)</mat-label>
                  <input matInput type="password" formControlName="passwordConfirm" required maxlength="15" >
                  <mat-icon matSuffix class="secondary-text">lock</mat-icon>
                  <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')"> Password confirmation
                      is required</mat-error>
                  <mat-error
                      *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') && resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                      Passwords must match</mat-error>
              </mat-form-field>
               
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET" [disabled]="resetPasswordForm.invalid" (click)="resetPassword(resetPasswordForm.value)">
                    RESET
                </button>
                <button mat-raised-button class="submit-button" color="accent"
                aria-label="CANCEL" ng-click="cancelEdit()" >
        CANCEL
        </button>
        <div style="text-align: center;">
            <mat-error *ngIf="invalidData===false">Current password does not match</mat-error>
        </div>
        <div style="text-align: center;">
            <mat-error *ngIf="passwordChanged===true">{{errorMessage}}</mat-error>
        </div>
      </form>
   </div>
 </div>
</div>