<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="logoPath">
            </div>

            <div class="title">Reset Your Password</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>
              

                <mat-form-field appearance="outline">
                    <mat-label>Current Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">lock</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput type="Password" [type]="hide ? 'password' : 'text'" formControlName="passwordNew" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*?/]).{8,15})"required>
                    <mat-icon matSuffix class="secondary-text" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordNew').hasError('required')">New password is required</mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('passwordNew').hasError('minlength')">Password must be at least 8 characters</mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('passwordNew').hasError('pattern') && resetPasswordForm.get('passwordNew').value.length > 7">Please secure your account with a strong password</mat-error>
             </mat-form-field>          
               
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET" [disabled]="resetPasswordForm.invalid">
                    RESET
                </button>
                <button mat-raised-button class="submit-button" color="accent"
                aria-label="CANCEL"ng-click="cancelEdit()" >
        CANCEL
        </button>
            </form>
           
        

        </div>

    </div>

</div>
