
  

<div id="orders" class="page-layout carded fullwidth inner-scroll">
    
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
        fxLayout="column" fxLayoutAlign="center center"
        fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
        <!-- <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center"> -->
             
            <!-- APP TITLE -->
            <!-- <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    account_circle
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Candidates</span>
            </div>  -->
            <div class="logo mb-24 mb-md-0"
            fxLayout="row" fxLayoutAlign="start center">
           <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
               account_circle
           </mat-icon>
           <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
               Candidates
           </span>
       </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <!-- <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search Company">
                </div>
            </div> -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search Candidates">
                </div>
            </div>
            <!-- <button mat-raised-button
[routerLink]="'../../../ui/forms'"
class="add-product-button fuse-white mt-24 mt-md-0">
<span>Add Candidate</span>
</button> -->
<button mat-raised-button
[routerLink]="'../../../ui/forms'"
class="add-product-button fuse-white mt-24 mt-md-0">
<span>Add Candidate</span>
</button>
 <!-- / SEARCH -->
<!--add candidate-->

<!-- <button mat-raised-button
[routerLink]="'../../../ui/forms'"
class="add-product-button fuse-white mt-24 mt-md-0">
<span>Add Candidate</span>
</button> -->


<!-- 
<button mat-raised-button
[routerLink]="'../../mail'"
class="add-product-button fuse-white mt-24 mt-md-0">
<span>mail</span>
</button> -->


<!-- <button mat-raised-button (click)="openMail()">mail</button> -->
<!--<button mat-raised-button (click)="openDialog()">open</button> -->

</div>


        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <!-- <div class="row"></div> -->
        <div class="content-card">
            
            <!-- <div fxLayout="column" fxLayoutAlign="center"style="padding-top:10px;padding-bottom:1px;border-bottom:1px solid #d8dce3;">

                <div class="filters" fxLayout="column" fxLayoutAlign="center center"
                     fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    
                     <mat-form-field appearance="outline" fxFlex="30" class="px-8">
                        <mat-label >Technology</mat-label>
                        <mat-select formControlName="country" required>
                                <mat-option [value]="'United States of America'">
                                        All
                                        </mat-option>
                            <mat-option [value]="'United States of America'">
                            Artificial Intelligence
                            </mat-option>
                            <mat-option [value]="'United Kingdom'">
                                Blockchain
                            </mat-option>
                            <mat-option [value]="'India'">
                                    Cloud Computing
                                </mat-option>
                            <mat-option [value]="'Russia'">
                                Angular
                            </mat-option>
                            <mat-option [value]="'China'">
                                React
                            </mat-option>
                            <mat-option [value]="'Japan'">
                                Internet Of Things
                            </mat-option>
                            <mat-option [value]="'Turkey'">
                                Big Data
                            </mat-option>
                        </mat-select>
             </mat-form-field>

             <mat-form-field appearance="outline" fxFlex="30" class="px-8">
                <mat-label >Edu.Qual</mat-label>
                <mat-select formControlName="country" required>
                        <mat-option [value]="'United States of America'">
                                Any
                                </mat-option>
                    <mat-option [value]="'United States of America'">
                    BCA
                    </mat-option>
                    <mat-option [value]="'United Kingdom'">
                        B.Sc.Cs
                    </mat-option>
                    <mat-option [value]="'India'">
                            B.Tech
                        </mat-option>
                    <mat-option [value]="'Russia'">
                        B.E
                    </mat-option>
                    <mat-option [value]="'China'">
                        MCA
                    </mat-option>
                    <mat-option [value]="'Japan'">
                        MSc.Cs
                    </mat-option>
                    <mat-option [value]="'Turkey'">
                        M.Tech
                    </mat-option>
                    <mat-option [value]="'Turkey'">
                            M.E
                        </mat-option>
                </mat-select>
               
                <mat-error>Educational qualification is required!</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30" class="px-8">
                <mat-label >Experience</mat-label>
                <mat-select formControlName="country" required>
                        <mat-option [value]="'United States of America'">
                                Any
                                </mat-option>
                    <mat-option [value]="'United States of America'">
                    0
                    </mat-option>
                    <mat-option [value]="'United Kingdom'">
                        1
                    </mat-option>
                    <mat-option [value]="'India'">
                            2
                        </mat-option>
                    <mat-option [value]="'Russia'">
                        3
                    </mat-option>
                    <mat-option [value]="'China'">
                        4
                    </mat-option>
                    <mat-option [value]="'Japan'">
                        5
                    </mat-option>
                    <mat-option [value]="'Turkey'">
                        6
                    </mat-option>
                </mat-select>
               
                <mat-error>Experience is required!</mat-error>

    
            </mat-form-field>

         
        
            <mat-form-field appearance="outline" fxFlex="30" class="px-8">
                <mat-label >Status</mat-label>
                <mat-select formControlName="country" required>
                        <mat-option [value]="'United States of America'">
                            Selected
                                </mat-option>
                    <mat-option [value]="'United States of America'">
                    Pending
                    </mat-option>
                    <mat-option [value]="'United Kingdom'">
                        Rejected
                    </mat-option>     
                </mat-select>
               
                <mat-error>Experience is required!</mat-error>

    
            </mat-form-field>
            

         
        

             </div>
             
             </div>    -->
             <mat-table class="orders-table"
             #table [dataSource]="dataSource"
             matSort
             [@animateStagger]="{value:'50'}"
             fusePerfectScrollbar>
            <!-- <mat-table class="orders-table "
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar > -->

<!--              
                       <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header >Company Name</mat-header-cell>
                        <mat-cell *matCellDef="let product">
                            <p class="text-truncate">{{product.name}}</p>
                        </mat-cell>
                    </ng-container> -->
                <ng-container matColumnDef="cname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">{{order.cname}}</p>
                    </mat-cell>
                </ng-container>
               
              

<ng-container matColumnDef="edu_qual">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Qualification</mat-header-cell>
    <mat-cell *matCellDef="let order">
        <p class="text-truncate">{{order.edu_qual}}</p>
    </mat-cell>
</ng-container>

<ng-container matColumnDef="domain" >
    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Technology</mat-header-cell>
    <mat-cell *matCellDef="let order"fxHide fxShow.gt-xs>
        <p class="text-truncate">{{order.domain}}</p>
    </mat-cell>
</ng-container> 



 <ng-container matColumnDef="exp" >
    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Experience</mat-header-cell>
    <mat-cell *matCellDef="let order"fxHide fxShow.gt-xs>
        <p class="text-truncate">{{order.exp}}</p>
    </mat-cell>
</ng-container> 

 <!-- <ng-container matColumnDef="location">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Location</mat-header-cell>
    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
        <p class="text-truncate">{{order.location}}</p>
    </mat-cell>
</ng-container> -->

<ng-container matColumnDef="contact">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Mobile</mat-header-cell>
    <mat-cell *matCellDef="let order"fxHide fxShow.gt-sm>
        <p class="text-truncate">{{order.contact}}</p>
    </mat-cell>
</ng-container>
<!-- 
<ng-container matColumnDef="can_status">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Status</mat-header-cell>
    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
        <p class="text-truncate" style="color:blue;">{{order.can_status}}</p>
    </mat-cell>
</ng-container> -->

<!-- <ng-container matColumnDef="active">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Openings</mat-header-cell>
    <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
        <mat-icon *ngIf="product.active" class="active-icon green-600 s-20">check</mat-icon>
        <mat-icon *ngIf="!product.active" class="active-icon red-500 s-20">close</mat-icon>
    </mat-cell>
</ng-container> -->

<ng-container matColumnDef="can_status">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Status</mat-header-cell>
    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
        <!-- <button mat-button  (click)="openDialog()">{{order.can_status}}</button> -->
         <button mat-flat-button  link *ngIf="order.can_status" style="color:green;">Selected</button> 


        <!-- <button mat-raised-button color="basic"*ngIf="order.can_status" style="color:green;">Selected</button> -->
        <button mat-raised-button color="basic"*ngIf="!order.can_status" style="color:red;">Pending</button>
    </mat-cell>
</ng-container>
                <!-- <ng-container matColumnDef="email" style="width: 400px; border:1px solid black;">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm style="width: 400px;"> Email Id</mat-header-cell>
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm style="width: 400px; font-size:12px;"> -->
                        <!-- <p class="text-truncate"style="width: 400px;" >{{order.email}}</p> -->
                        <!-- <button mat-button  (click)="composeDialog()">{{order.email}}</button>
                    </mat-cell>
                </ng-container> -->

               

<!-- 
                 <ng-container matColumnDef="can_status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Status</mat-header-cell>
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-xs>
                        <button mat-raised-button #tooltip="matTooltip"style="color:green;"
                        matTooltip="View Status"
                        matTooltipPosition="above"
                        aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
                  
                </button>  
                    </mat-cell>
                </ng-container>  -->
              

                <ng-container matColumnDef="active">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                <mat-cell *matCellDef="let order" style="text-align: center!important;">
                    <button mat-icon-button color="accent" *ngIf="order.active"style="background-color:white;"[routerLink]="'/apps/e-commerce/orders/'+order.id"><mat-icon>edit</mat-icon></button>
                   <!-- <span><mat-icon *ngIf="order.active"style="color:#42a1f5;margin-left:10px"[routerLink]="'/apps/e-commerce/orders/'+order.id">email</mat-icon></span> -->
                <span>
                    <button mat-icon-button color="warn" style="margin-left: 5px;" (click)="composeDialog()"><mat-icon>mail</mat-icon></button></span>
                
                
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="view">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Candidate details</mat-header-cell>
                <mat-cell *matCellDef="let order" fxHide fxShow.gt-xs >
                    <!-- <button mat-button style="background-color: #e0ebeb;">View</button>
                    -->

                    <button mat-raised-button
                    [routerLink]="'/apps/e-commerce/orders/'+order.id">
                   
                    View
                    </button>
        

                </mat-cell>
            </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let order; columns: displayedColumns;"
                         class="order">
                         <!-- matRipple> -->
                         <!-- [routerLink]="'/apps/e-commerce/orders/'+order.id"> -->
                </mat-row>
            </mat-table> 

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
