<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>
<!-- 
                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div> -->

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Company
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Company Detail</span>
                    </div>
                </div>
                
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always"  class="w-100-p">
                                    <mat-label>Company Name</mat-label>
                                    <input matInput placeholder="Company Name"
                                           name="name"
                                           formControlName="name"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label> Description</mat-label>
                                    <textarea matInput placeholder="Description"
                                              name="description"
                                              formControlName="description"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>

                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Categories</mat-label>

                                    <mat-chip-list #categoryList name="categories" formControlName="categories">

                                        <mat-chip *ngFor="let category of product.categories"
                                                  [removable]="true" (removed)="product.removeCategory(category)">
                                            {{category}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="categoryList"
                                               [matChipInputAddOnBlur]="true"
                                               (matChipInputTokenEnd)="product.addCategory($event)"/>

                                    </mat-chip-list>

                                </mat-form-field> -->
    <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Categories</mat-label>

                                    <mat-chip-list #categoryList name="categories" formControlName="categories">

                                        <mat-chip *ngFor="let category of product.categories"
                                                  [removable]="true" (removed)="product.removeCategory(category)">
                                            {{category}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="categoryList"
                                               [matChipInputAddOnBlur]="true"
                                               (matChipInputTokenEnd)="product.addCategory($event)"/>

                                    </mat-chip-list>

                                </mat-form-field> -->
                              

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Location</mat-label>
                                    <input matInput placeholder="Location"
                                           name="location"
                                           formControlName="location"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Website</mat-label>
                                    <input matInput placeholder="Website"
                                           name="website"
                                           formControlName="website"
                                           type="text">
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                </mat-form-field>

                                <!--Phone NO-->
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Phone </mat-label>
                                    <input matInput placeholder="Phone"
                                           name="phone"
                                           formControlName="phone"
                                           required>
                                </mat-form-field>
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <button mat-raised-button  type="button" color="accent">
                                        Next
                                    </button>
                                </div>
                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Tags</mat-label>

                                    <mat-chip-list #tagList name="tags" formControlName="tags">

                                        <mat-chip *ngFor="let tag of product.tags"
                                                  [removable]="true" (removed)="product.removeTag(tag)">
                                            {{tag}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>

                                        <input [matChipInputFor]="tagList"
                                               [matChipInputAddOnBlur]="true"
                                               (matChipInputTokenEnd)="product.addTag($event)"/>

                                    </mat-chip-list>

                                </mat-form-field> -->

                            </div>

                        </mat-tab>

                        <!-- <mat-tab label="Product Images">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <div *ngIf="product.images.length === 0"
                                         class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                        <img class="media"
                                             [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                    </div>

                                    <div *ngFor="let image of product.images">
                                        <div *ngIf="product.images.length > 0"
                                             class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                            <img class="media" [src]="image.url">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </mat-tab> -->

                        <!-- <mat-tab label="Pricing">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Tax Excluded Price</mat-label>
                                    <input matInput placeholder="Tax Excluded Price"
                                           name="priceTaxExcl"
                                           formControlName="priceTaxExcl"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Tax Included Price</mat-label>
                                    <input matInput placeholder="Tax Included Price"
                                           name="priceTaxIncl"
                                           formControlName="priceTaxIncl"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Tax Rate</mat-label>
                                    <input matInput placeholder="Tax Rate"
                                           name="taxRate"
                                           formControlName="taxRate"
                                           type="number">
                                    <span matPrefix>&#37;&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Compared Price</mat-label>
                                    <input matInput placeholder="Compared Price"
                                           name="comparedPrice"
                                           formControlName="comparedPrice"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                    <mat-hint align="start">Add a compare price to show next to the real price
                                    </mat-hint>
                                </mat-form-field>

                            </div>
                        </mat-tab> -->

                        <mat-tab label="Contact">
                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Tax Excluded Price</mat-label>
                                    <input matInput placeholder="Tax Excluded Price"
                                           name="priceTaxExcl"
                                           formControlName="priceTaxExcl"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field> -->

                            <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Contact No</mat-label>
                                    <input matInput placeholder="Contact No"
                                           name="contact_no"
                                           formControlName="contact_no"
                                           type="tel"> -->
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                <!-- </mat-form-field>  -->
                                <!-- <div class="back" style="background-color:rgb(195, 240, 230)"> -->
                                <p style="color: blue;">Primary Contact </p>
                                <!-- <p style="margin-top: 3px;"> 
                                    Representative Details
                                </p> -->
                               
                                <div fxLayout="row" fxLayoutAlign="space-between"style="margin-top5px;">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p"> -->
                                    <mat-label>Representative Name</mat-label>
                                    <input matInput placeholder="representative"
                                           name="representative"
                                           formControlName="representative"
                                           type="text">
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                </mat-form-field> 

                                
                                
                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                    <mat-label>Email-id</mat-label>
                                    <input matInput placeholder="Email-id"
                                           name="rep_email"
                                           formControlName="rep_email"
                                           type="text">
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                </mat-form-field> 

                                <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                    <mat-label>Contact Number</mat-label>
                                    <input matInput placeholder="Representative Contact Nu"
                                           name="rep_cont"
                                           formControlName="rep_cont"
                                           type="text">
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                </mat-form-field> 
                                </div>
                                <!-- <div class="back" style="background-color:rgb(76, 102, 96)">                           </div> -->
<p style="color: green;">Secondary Contact </p>

<div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
<!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p"> -->
    <mat-label>Admin Name</mat-label>
    <input matInput placeholder="Admin Name"
           name="admin1_name"
           formControlName="admin1_name"
           type="text">
    <!-- <span matPrefix>$&nbsp;</span> -->
</mat-form-field> 



<mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
    <mat-label>Email-id</mat-label>
    <input matInput placeholder="Email-id"
           name="admin1_email"
           formControlName="admin1_email"
           type="text">
    <!-- <span matPrefix>$&nbsp;</span> -->
</mat-form-field> 
<mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
    <mat-label>Contact Number</mat-label>
    <input matInput placeholder="Contact Number"
           name="admin1_cont"
           formControlName="admin1_cont"
           type="text">
    <!-- <span matPrefix>$&nbsp;</span> -->
</mat-form-field> 
</div>
<div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
<!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p"> -->
    <mat-label>Admin Name</mat-label>
    <input matInput placeholder="Admin Namne"
           name="admin2_name"
           formControlName="admin2_name"
           type="text">
    <!-- <span matPrefix>$&nbsp;</span> -->
</mat-form-field> 



<mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
    <mat-label>Email-id</mat-label>
    <input matInput placeholder="Email-id"
           name="admin2_email"
           formControlName="admin2_email"
           type="text">
    <!-- <span matPrefix>$&nbsp;</span> -->
</mat-form-field> 
<mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
    <mat-label>Contact Number</mat-label>
    <input matInput placeholder="Contact Number"
           name="admin2_cont"
           formControlName="admin2_cont"
           type="text">
    <!-- <span matPrefix>$&nbsp;</span> -->
</mat-form-field> 
</div>


<p style="color:brown">Address </p>
<div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
<!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p"> -->
    <mat-label>No/Area</mat-label>
    <input matInput placeholder="No/Area"
           name="flat_no"
           formControlName="flat_no"
           type="string">
    <!-- <span matPrefix>$&nbsp;</span> -->
</mat-form-field> 



<mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
    <mat-label>City</mat-label>
    <input matInput placeholder="City"
           name="city"
           formControlName="city"
           type="text">
    <!-- <span matPrefix>$&nbsp;</span> -->
</mat-form-field> 
<!-- <mat-form-field appearance="outline" floatLabel="always" fxFlex="20">
    <mat-label>Province</mat-label>
    <input matInput placeholder="Province"
           name="province"
           formControlName="province"
           type="text"> -->
    <!-- <span matPrefix>$&nbsp;</span> -->
<!-- </mat-form-field>  -->
<mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
    <mat-label>Country</mat-label>
    <input matInput placeholder="Country"
           name="country"
           formControlName="country"
           type="text">
    <!-- <span matPrefix>$&nbsp;</span> -->
</mat-form-field> 



</div>
<div fxLayout="row" fxLayoutAlign="center center">
    <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
        Previous
    </button>
    <button mat-raised-button matStepperNext type="button" color="accent">
        Next
    </button>
</div>
<!-- <button type="button" mdbBtn color="fb" class="waves-light" mdbWavesEffect><i class="fab fa-facebook-f left"></i>Facebook</button> -->
<!-- <mat-form-field appearance="outline" floatLabel="always" fxflex="50">
    <mat-label>Address </mat-label>
    <textarea matInput placeholder="Address"
              name="address"
              formControlName="address"
              rows="5">
    </textarea>
</mat-form-field> -->


                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>E-mail</mat-label>
                                    <input matInput placeholder="E-mail"
                                           name="email"
                                           formControlName="email"
                                           type="email"> -->
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                <!-- </mat-form-field>  -->

                             

                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Tax Included Price</mat-label>
                                    <input matInput placeholder="Tax Included Price"
                                           name="priceTaxIncl"
                                           formControlName="priceTaxIncl"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Tax Rate</mat-label>
                                    <input matInput placeholder="Tax Rate"
                                           name="taxRate"
                                           formControlName="taxRate"
                                           type="number">
                                    <span matPrefix>&#37;&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Compared Price</mat-label>
                                    <input matInput placeholder="Compared Price"
                                           name="comparedPrice"
                                           formControlName="comparedPrice"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                    <mat-hint align="start">Add a compare price to show next to the real price
                                    </mat-hint>
                                </mat-form-field> -->

                            
                             </div>
                        </mat-tab>






                        <mat-tab label="Contract Details">

                            <div class="tab-content p-24" fusePerfectScrollbar>



                                
                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Contract Details</mat-label>
                                    <input matInput placeholder="Contract Details"
                                           name="contract_details"
                                           formControlName="contract_details"
                                           type="text"> -->
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                <!-- </mat-form-field>  -->

                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Scope of Work</mat-label>
                                    <input matInput placeholder="Scope of Work"
                                           name="scope"
                                           formControlName="scope"
                                           type="text"> -->
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                <!-- </mat-form-field>  -->
                                <!-- <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Maximum Referals</mat-label>
                                    <input matInput formControlName="firstName" required>
                                    <mat-error>First Name is required!</mat-error>
                                </mat-form-field> -->
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Payment Terms</mat-label>
                                    <mat-select formControlName="major" required>
                                        <mat-option [value]="'United States of America'">
                                            Month
                                        </mat-option>
                                        <mat-option [value]="'United Kingdom'">
                                            Year
                                        </mat-option>
                                        <!-- <mat-option [value]="'Russia'">
                                            Information Technology
                                        </mat-option> -->
                                        </mat-select>
                                    <!-- <input matInput placeholder="Payment Terms"
                                           name="payment_terms"
                                           formControlName="payment_terms"
                                           type="text"> -->
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                </mat-form-field> 
                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Time Period</mat-label> -->
                                    <!-- <input matInput placeholder=""
                                           name="time_period"
                                           formControlName="time_period"
                                           type="text"> -->
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                    <p secondary>Time Period</p>
                                    <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-45-p">
                                        <mat-label>From</mat-label>
                                        <input matInput [matDatepicker]="picker0">
                                        <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                                        <mat-datepicker #picker0></mat-datepicker>
                                      </mat-form-field>
                                      
                                      <mat-form-field appearance="outline" floatLabel="always" class="w-45-p">
                                        <mat-label>To</mat-label>
                                        <input matInput [matDatepicker]="picker9">
                                        <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
                                        <mat-datepicker #picker9></mat-datepicker>
                                      </mat-form-field>
                                    </div>

                                    <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-50-p">
                                        <mat-label>From</mat-label>
                                        <input matInput placeholder="From"
                                               name="from"
                                               formControlName="from"
                                               type="text"> -->
                                        <!-- <span matPrefix>$&nbsp;</span> -->
                                    <!-- </mat-form-field>  -->
                                    <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-50-p">
                                        <mat-label>To</mat-label>
                                        <input matInput placeholder="To"
                                               name="to"
                                               formControlName="to"
                                               type="text"> -->
                                        <!-- <span matPrefix>$&nbsp;</span> -->
                                    <!-- </mat-form-field>  -->
                                    
                                <!-- </mat-form-field>  -->
<p style="padding-top: 0px;">
     The consultant is expected to keep company information as confidential
     except the information already known to general public.
</p>
                               

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Confidentiality</mat-label>
                                    <mat-select formControlName="major" required>
                                        <mat-option [value]="'United States of America'">
                                            Yes
                                        </mat-option>
                                        <mat-option [value]="'United Kingdom'">
                                            No
                                        </mat-option>
                                        <!-- <mat-option [value]="'Russia'">
                                            Information Technology
                                        </mat-option> -->
                                        </mat-select>
                                    <!-- <input matInput placeholder="Confidentiality"
                                           name="Confidentiality"
                                           formControlName="Confidentiality"
                                           type="text"> -->
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                </mat-form-field> 
                                <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Qualification</mat-label>
                                    <input matInput placeholder="Qualification"
                                           name="Qualification"
                                           formControlName="Qualification"
                                           type="text"> -->
                                    <!-- <span matPrefix>$&nbsp;</span> -->
                                <!-- </mat-form-field> -->
                            </div>
                        </mat-tab>


                        <!-- <mat-tab label="Inventory">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>SKU</mat-label>
                                    <input matInput placeholder="SKU"
                                           name="sku"
                                           formControlName="sku">
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Quantity</mat-label>
                                    <input matInput placeholder="Quantity"
                                           name="quantity"
                                           formControlName="quantity"
                                           type="number">
                                </mat-form-field>

                            </div>

                        </mat-tab> -->

                      

                        <!-- <mat-tab label="Shipping">

                            <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

                                <div fxLayout="row" fxLayoutAlign="space-between">

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Width</mat-label>
                                        <input matInput placeholder="Width"
                                               name="Width"
                                               formControlName="width">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Height</mat-label>
                                        <input matInput placeholder="Height"
                                               name="Height"
                                               formControlName="height">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                                        <mat-label>Depth</mat-label>
                                        <input matInput placeholder="Depth"
                                               name="Depth"
                                               formControlName="depth">
                                        <span matSuffix>cm</span>
                                    </mat-form-field>

                                </div>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Weight</mat-label>
                                    <input matInput placeholder="Weight"
                                           name="Weight"
                                           formControlName="weight">
                                    <span matSuffix>kg</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Extra Shipping Fee</mat-label>
                                    <input matInput placeholder="Extra Shipping Fee"
                                           name="extraShippingFee"
                                           formControlName="extraShippingFee"
                                           type="number">
                                    <span matPrefix>$&nbsp;</span>
                                </mat-form-field>

                            </div>

                        </mat-tab> -->

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
