@import "src/@fuse/scss/fuse";

#contacts1 {
  .top-bg {
    @include media-breakpoint("lt-md") {
      height: 256px;
    }
  }

  > .center {
    > .header {
      height: 136px !important;
      min-height: 136px !important;
      max-height: 136px !important;
      justify-content: space-between;

      .search-wrapper {
        width: 100%;
        max-width: 480px;
        border-radius: 28px;
        overflow: hidden;
        @include mat-elevation(1);
        background-color: white;
        color: black;
        margin-right: 32px;
        margin-left: 32px;
        @include media-breakpoint("xs") {
          width: 100%;
        }

        .search {
          width: 100%;
          height: 48px;
          line-height: 48px;
          padding: 0 18px;

          input {
            width: 100%;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
            padding: 0 16px;
            border: none;
            outline: none;
          }
        }
      }

      @include media-breakpoint("lt-md") {
        padding: 8px 0;
        height: 192px !important;
        min-height: 192px !important;
        max-height: 192px !important;
      }
    }
  }
}

.button-sm-show {
  display: none;
}
.button-lg-show {
  display: block;
}
.header-display {
  display: flex;
}
mat-cell:first-of-type,
mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  padding-left: 40px;
}
@media only screen and (max-width: 400px) {
  .button-sm-show {
    display: block !important;
  }
  .button-lg-show {
    display: none !important;
  }
  .h1 {
    font-size: 15px;
    margin-left: -14px;
  }
  .add-button1 {
    margin-left: 74px;
    margin-bottom: 18px;
  }
  .logo-display-role {
    margin-bottom: 10px;
  }
  .header-display {
    display: block !important;
  }
  #contacts1 > .center > .header .search-wrapper {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
  }
}
@media screen and (orientation: landscape) and (max-width: 959px) {
  #contacts1 .top-bg {
    height: 163px;
  }
  #contacts1 > .center > .header {
    // padding: 8px 0;
    height: 102px !important;
    min-height: 102px !important;
    max-height: 192px !important;
    justify-content: space-between !important;
  }
  #contacts1 > .center > .header .search-wrapper {
    width: 41% !important;
  }
  .logo-text.h1 {
    font-size: 17px;
    margin-left: -14px;
  }
  .add-button1 {
    margin-left: 20px;
    margin-bottom: 18px;
  }
  .logo-display-role {
    margin-top: 24px;
  }
}
@media screen and (min-width: 600px) {
  #contacts1 > .center > .header .search-wrapper {
    width: 41%;
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) and(orientation : portrait) {
  .button-sm-show {
    display: block !important;
  }
  .button-lg-show {
    display: none !important;
  }
  .h1 {
    font-size: 15px;
    margin-left: -14px;
  }
  .add-button1 {
    margin-left: 124px;
    margin-bottom: 18px;
  }
  .logo-display-role {
    margin-bottom: 10px;
  }
  .header-display {
    display: block !important;
  }
  #contacts1 > .center > .header .search-wrapper {
    width: 100% !important;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) and(orientation : portrait) {
  #contacts1 > .center > .header {
    // padding: 8px 0;
    height: 102px !important;
    min-height: 102px !important;
    max-height: 192px !important;
    justify-content: space-between !important;
    margin-top: 45px;
  }
  #cont-card-role-list {
    margin-top: 48px;
  }
  .logo-display-role {
    margin-top: 22px;
  }
}

@import "src/@fuse/scss/fuse";

.mat-column-checkbox {
  flex: 0 1 64px;
  vertical-align: middle !important;
}

.mat-column-rolename {
  padding-left: 45px;
}

.mat-column-desc {
  flex: 2 1 80px;
  width: 300px !important;
  padding-left: 18px;
}
.mat-column-status {
  flex: 0 -2 50px;
}

.example-container7 {
  display: flex;
  flex-direction: column;
  height: 340px;
  min-width: 300px;
  overflow: auto;
}

.mobile-label {
  display: none;
}

@media (max-width: 400px) {
  .mobile-label {
    width: 95px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .example-container7 {
    .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
      height: 217px !important;
    }
  }

  .mat-column-desc {
    flex: 2 1 80px;
    width: 300px !important;
    padding-left: 0px;
  }
  .mat-column-rolename {
    padding-left: 0px;
  }
  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 0px !important;
  }
  .text-truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 166px;
  }
}
@media only screen and (device-width: 414px) and (device-height: 736px) and(orientation : portrait) {
  .mobile-label {
    width: 95px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .example-container7 {
    .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
      height: 217px !important;
    }
  }
  .mat-column-desc {
    flex: 2 1 80px;
    width: 300px !important;
    padding-left: 0px;
  }
  .mat-column-rolename {
    padding-left: 0px;
  }
  mat-cell:first-of-type,
  mat-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 0px !important;
  }
  .text-truncate {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 166px;
  }
}
