// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";


.mat-progress-spinner svg {
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    left: 0;
    transform-origin: center;
    overflow: visible;
    height: 30px!important;
    width: 30px!important;
    margin-top: 32px;
}
.mat-grid-tile .mat-grid-figure
{
align-items: flex-start!important;
}
// .mat-form-field-subscript-wrapper {
//     font-size: 72%;
//     margin-top: 0.6666666667em;
//     top: calc(100% - 1.7916666667em);
// }

.Loading {
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-top: 25px;
    height:100%;
    color: #0066ff;
    font-size: 20px;
    font-weight: 700;
}