@import "src/@fuse/scss/fuse";
.mail-compose-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 640px;
    }

    .mat-dialog-container {
        padding: 0;

        .compose-form {

            .mat-form-field {
                width: 100%;
            }

            .show-hide-extra-fields {
                text-align: right;
                cursor: pointer;
                font-size: 12px;
            }

            .attachment-list {
                font-size: 13px;

                .attachment {
                    border: 1px solid;
                    border-radius: 20px;
                    padding-left: 16px;
                    margin-top: 8px;

                    .filename {
                        font-weight: 600;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
}

.file-upload {
    background-color: #ffffff;
    width: 256px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: dodgerblue;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid dodgerblue;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: dodgerblue;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed gray;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color:#e6e9ed;
    border: 4px dashed gray;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: dodgerblue;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  .upload_button
{
  margin-left: 30px;
  
}
.button_close{

margin-left: 200px;
}




@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
// .frame_1
// {
// 	width: 550px;
// 	height: 550px;
// 	background: blue;
// 	margin-bottom: 20px;
// }
// .frame {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 500px;
//   height: 900px;
//   margin-top: -200px;
  
//   margin-left: -200px;
//   border-radius: 2px;
//   box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
//   background:#3a99c2;

//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3A92AF', endColorstr='#5CA05A',GradientType=1 );
//   color: #fff;
// 	font-family: 'Open Sans', Helvetica, sans-serif;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

// .center {
//   position: absolute;
// 	width: 400px;
// 	height: 400px;
//   top: 50px;
//   left: 50px;

// 	background:white;
// 	box-shadow: 8px 10px 15px 0 rgba(0,0,0,0.2);
// 	border-radius: 3px;
// }

// .title {
// 	font-size: 16px;
// 	color:#3a99c2;;
// 	line-height: 50px;
// 	height: 50px;
// 	border-bottom: 1px solid gray;
// 	text-align: center;
// }
// div.ex1 {
   
// 	width: 100%;
// 	height: 350px;
// 	overflow: scroll;
//   }
// .dropzone {
// 	position: absolute;
// 	z-index: 1;
// 	box-sizing: border-box;
// 	display: table;
// 	table-layout: fixed;
// 	width: 200px;
// 	height: 200px;
// 	top: 86px;
// 	 left:100px;
// 	border: 1px dashed #A4A4A4;
// background-color: #e1e6e8;
// 	border-radius: 3px;
// 	text-align: center;
// 	overflow: hidden;
	
// 	&.is-dragover {
// 		border-color:1px solid #666;
// 		background:#dae0e3;
// 	}
	
// 	.content {
// 		display: table-cell;
// 		vertical-align: middle;
// 	}
	
// 	.upload {
// 		margin: 6px 0 0 2px;
		
// 	}
	
// 	.filename {
// 		display: block;
// 		color: #676767;
// 		font-size: 14px;
// 		line-height: 18px;
// 	}
	
// 	.input {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 		opacity: 0;
// 	}
	
// }

// .upload-btn {
// 	position: absolute;
// 	width: 140px;
// 	height: 40px;
// 	left: 132px;
// 	bottom: 24px;
// 	background: #4bb1fa;
// 	border-radius: 3px;
// 	text-align: center;
// 	line-height: 40px;
// 	font-size: 14px;
// 	// box-shadow: 0 2px 0 0 #498C25;
// 	cursor: pointer;
// 	transition: all .2s ease-in-out;
	
// 	// &:hover {
// 	// 	box-shadow: 0 2px 0 0 #498C25, 0 2px 10px 0 #6ECE3B;
// 	// }
// }

// .bar {
// 	position: absolute;
// 	z-index: 1;
// 	width: 300px;
// 	height: 3px;
// 	top: 49px;
// 	left: 0;
// 	background: #6ECE3B;
// 	transition: all 3s ease-out;
// 	transform: scaleX(0);
// 	transform-origin: 0 0;
	
// 	&.active {
// 		transform: scaleX(1) translate3d(0,0,0);
// 	}
// }

// .syncing {
// 	position: absolute;
// 	top: 109px;
// 	left: 134px;
// 	opacity: 0;
	
// 	&.active {
// 		animation: syncing 3.2s ease-in-out;
// 	}
// }

// .done {
// 	position: absolute;
// 	top: 112px;
// 	left: 132px;
// 	opacity: 0;
	
// 	&.active {
// 		animation: done .5s ease-in 3.2s;
// 		animation-fill-mode: both;
// 	}
// }

// @keyframes syncing {
// 	0% {
// 		transform: rotate(0deg);
// 	}
// 	10% {
// 		opacity: 1;
// 	}
// 	90% {
// 		opacity: 1;
// 	}
// 	100% {
// 		transform: rotate(360deg);
// 		opacity: 0;
// 	}
// }

// @keyframes done {
// 	from {
// 		opacity: 0;
// 	}
// 	to {
// 		opacity: 1;
// 	}
// }
// .close
// {
// 	margin-top: 10px;
// 	// margin-right: 5px;
// 	margin-left: 92%;
// 	border-radius: 2px;
// }

// .button_close
// {

// 	   margin-right:5px;
// 	//    margin-top: -9px;
// 	 }

@media only screen and (max-width:640px) and (max-device-width: 1024px){
	// .frame {
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	width: 350px;
	// 	height: 500px;
	// 	margin-top: -200px;
		
	// 	margin-left: -175px;
	// 	border-radius: 2px;
	// 	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	// 	background:#3a99c2;
	//   //   background: -webkit-linear-gradient(bottom left, #3A92AF 0%, #5CA05A 100%);
	//   //   background: -moz-linear-gradient(bottom left, #3A92AF 0%, #5CA05A 100%);
	//   //   background: -o-linear-gradient(bottom left, #3A92AF 0%, #5CA05A 100%);
	//   //   background: linear-gradient(to top right, #3A92AF 0%, #5CA05A 100%); 
	// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3A92AF', endColorstr='#5CA05A',GradientType=1 );
	// 	color: #fff;
	// 	  font-family: 'Open Sans', Helvetica, sans-serif;
	// 	  -webkit-font-smoothing: antialiased;
	// 	  -moz-osx-font-smoothing: grayscale;
	//   }
	  
	  .center {
		position: absolute;
		  width: 300px;
		  height: 400px;
		top: 50px;
		left: 23px;
	  //   right:50px;
	  //   bottom: 50px;
		  background:white;
		  box-shadow: 8px 10px 15px 0 rgba(0,0,0,0.2);
		  border-radius: 3px;
	  }
	  div.ex1 {
   
		width: 100%;
		height: 350px;
		overflow: scroll;
	  }
	  .title {
		  font-size: 16px;
		  color:white;
		  line-height: 50px;
		  height: 50px;
		//   border-bottom: 1px solid gray;
		  text-align: center;
	  }
	  .button_close{

		margin-left: 63px;
		}
	  .file-upload {
		background-color: #ffffff;
		width: 200px;
		margin: 0 auto;
		padding:5px;
	  }
	  .dropzone {
		  position: absolute;
		  z-index: 1;
		  box-sizing: border-box;
		  display: table;
		  table-layout: fixed;
		  width: 100px;
		  height: 200px;
		  top: 86px;
		   left:50px;
		  border: 1px dashed #A4A4A4;
	  background-color: #e1e6e8;
		  border-radius: 3px;
		  text-align: center;
		  overflow: hidden;
		  
		  &.is-dragover {
			  border-color:1px solid #666;
			  background:#dae0e3;
		  }
		  
		  .content {
			  display: table-cell;
			  vertical-align: middle;
		  }
		
			
		  
		  .upload {
			  margin: 6px 0 0 2px;
			  
		  }
		  
		  .filename {
			  display: block;
			  color: #676767;
			  font-size: 14px;
			  line-height: 18px;
		  }
		  
		  .input {
			  position: absolute;
			  top: 0;
			  left: 0;
			  right: 0;
			  bottom: 0;
			  opacity: 0;
		  }
		  
	  }
	  
	  .upload-btn {
		  position: absolute;
		  width: 140px;
		  height: 40px;
		  left: 77px;
		  bottom: 24px;
		  background: #4bb1fa;
		  border-radius: 3px;
		  text-align: center;
		  line-height: 40px;
		  font-size: 14px;
		  // box-shadow: 0 2px 0 0 #498C25;
		  cursor: pointer;
		  transition: all .2s ease-in-out;
		  
		  // &:hover {
		  // 	box-shadow: 0 2px 0 0 #498C25, 0 2px 10px 0 #6ECE3B;
		  // }
	  }
	  
	  .bar {
		  position: absolute;
		  z-index: 1;
		  width: 300px;
		  height: 3px;
		  top: 49px;
		  left: 0;
		  background: #6ECE3B;
		  transition: all 3s ease-out;
		  transform: scaleX(0);
		  transform-origin: 0 0;
		  
		  &.active {
			  transform: scaleX(1) translate3d(0,0,0);
		  }
	  }
	  
	  .syncing {
		  position: absolute;
		  top: 109px;
		  left: 134px;
		  opacity: 0;
		  
		  &.active {
			  animation: syncing 3.2s ease-in-out;
		  }
	  }
	  
	  .done {
		  position: absolute;
		  top: 112px;
		  left: 132px;
		  opacity: 0;
		  
		  &.active {
			  animation: done .5s ease-in 3.2s;
			  animation-fill-mode: both;
		  }
	  }
	  
	  @keyframes syncing {
		  0% {
			  transform: rotate(0deg);
		  }
		  10% {
			  opacity: 1;
		  }
		  90% {
			  opacity: 1;
		  }
		  100% {
			  transform: rotate(360deg);
			  opacity: 0;
		  }
	  }
	  
	  @keyframes done {
		  from {
			  opacity: 0;
		  }
		  to {
			  opacity: 1;
		  }
	  }
	  .close
	  {
		  margin-top: 10px;
		  // margin-right: 5px;
		  margin-left: 92%;
		  border-radius: 2px;
	  }
	//  .button_close
	//  {
	 
	// 		margin-left: 287px;
	// 		margin-top: -8px;
	// 	  }
	  


}

