 <div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title dialog-title">Upload Resumes</span>
          <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog"class="button_close">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>


    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <div class="file-upload">
    
    
      <div class="image-upload-wrap">
        <input class="file-upload-input" type='file'multiple="multiple" onchange="readURL(this);" >
        <div class="drag-text">
          <h3>Select or Drag and drop a file</h3>
        </div>
      </div>
      <div class="file-upload-content">
        <img class="file-upload-image" src="#" alt="your image" />
        <div class="image-title-wrap">
          <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
        </div>
      </div>
      <br>
      <div>
      <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Upload</button>
    </div>
    </div>
       
  </div>
  </div> 
    
     <!---- <ng-template matStepLabel>Resume Upload</ng-template>

      <div fxFlex="1 0 auto" fxLayout="column">

        <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <div class="file-upload">
        
        
          <div class="image-upload-wrap">
            <input class="file-upload-input" type='file'multiple="multiple" onchange="readURL(this);" >
            <div class="drag-text">
              <h3>Select or Drag and drop a file</h3>
            </div>
          </div>
          <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
              <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            </div>
          </div>
          <br>
          <div>
          <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Upload</button>
        </div>
        </div>
           
      </div>
      </div> -->


<!--final-->






    

<!-- 
      <div class="board-list-item add-new-board  " align="center" fxLayout="column" fxLayoutAlign="center center"

      [@animate]="{value:'*',params:{y:'100%'}}">
     <mat-icon class="icon_color"size="big">add_circle</mat-icon>
     <br>
     <br>
     <div class="board-name">Upload Your Resume </div>
  </div> -->

<!-- <div class="frame_1"> -->
  <!-- <div class="dialog-content-wrapper">
    <div class="ex1 p-24"> -->
<!-- <div class="frame"> -->
  <!-- <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog"style="background-color:black;">
    <mat-icon>close</mat-icon>
</button> -->
<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
<!-- <button mat-icon-button aria-label="Close dialog"style="background-color:black;">
  <mat-icon>close</mat-icon>
</button> -->

<!-- <mat-toolbar style="background-color: #3a99c2;">
<mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
 
  <button  mat-icon-button class="button_close" (click)="matDialogRef.close()" aria-label="Close dialog"style="background-color:white;">
      <mat-icon>close</mat-icon>
  </button>
</mat-toolbar-row>
</mat-toolbar> -->



    <!-- <div class="center"> -->
      <!-- <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar> -->
          <!-- <div class="bar"> </div> -->
         
          <!-- <div class="title">Drop file to upload</div> -->
    
          <!-- <div class="dropzone">
              <div class="content">
                  <img src="https://100dayscss.com/codepen/upload.svg" class="upload"style="width70px;height:50px;">
                  <span class="filename"></span>
                  <input type="file" multiple="multiple" class="input">
              </div>
             
          </div>
          
          <img src="https://100dayscss.com/codepen/syncing.svg" class="syncing">
          <img src="https://100dayscss.com/codepen/checkmark.svg" class="done">
         
          <div class="upload-btn">Upload</div> -->
          <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    
    <!-- </div> -->
    

    <!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->
   <!-- <div>
    
   </div>
  </div>
  </div>
  </div> -->
  
<!-- </div> -->

  <!-- === File Upload ===
Design a file upload element. Is it the loading screen and icon? A progress element? Are folders being uploaded by flying across the screen like Ghostbusters? ;)  
-->

<!-- <div id="FileUpload">
    <div class="wrapper">
      <div class="upload">
        <p>Drag files here or <span class="upload__button">Browse</span></p>
      </div>
      <div class="uploaded uploaded--one">
        <i class="far fa-file-pdf"></i>
        <div class="file">
          <div class="file__name">
            <p>lorem_ipsum.pdf</p>
            <i class="fas fa-times"></i>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:100%"></div>
          </div>
        </div>
      </div>
      <div class="uploaded uploaded--two">
        <i class="far fa-file-pdf"></i>
        <div class="file">
          <div class="file__name">
            <p>dolor_sit.pdf</p>
            <i class="fas fa-times"></i>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:80%"></div>
          </div>
        </div>
      </div>
      <div class="uploaded uploaded--three">
        <i class="far fa-file-pdf"></i>
        <div class="file">
          <div class="file__name">
            <p>amet_consectetur.pdf</p>
            <i class="fas fa-times"></i>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:60%"></div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<!-- based on: http://www.matlus.com/html5-file-upload-with-progress/ -->
<!-- <div class="upload">
    <div class="upload-files">
     <header>
      <p>
       <i class="fa fa-cloud-upload" aria-hidden="true"></i>
       <span class="up">up</span>
       <span class="load">load</span>
      </p>
     </header>
     <div class="body" id="drop">
      <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
      <p class="pointer-none"><b>Drag and drop</b> files here <br /> or <a href="" id="triggerFile">browse</a> to begin the upload</p>
               <input type="file" multiple="multiple" />
     </div>
     <footer>
      <div class="divider">
        <span>FILES</span> -->
       <!-- <span><AR>FILES</AR></span> -->
      <!-- </div>
      <div class="list-files"> -->
       <!--   template   -->
      <!-- </div>
               <button class="importar">UPDATE FILES</button>
     </footer>
    </div>
   </div> -->

   <!-- <script>
     
const $ = document.querySelector.bind(document);


let App = {};
App.init = (function() {
	//Init
	function handleFileSelect(evt) {
		const files = evt.target.files; // FileList object

		//files template
		let template = `${Object.keys(files)
			.map(file => `<div class="file file--${file}">
     <div class="name"><span>${files[file].name}</span></div>
     <div class="progress active"></div>
     <div class="done">
	<a href="" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000">
		<g><path id="path" d="M500,10C229.4,10,10,229.4,10,500c0,270.6,219.4,490,490,490c270.6,0,490-219.4,490-490C990,229.4,770.6,10,500,10z M500,967.7C241.7,967.7,32.3,758.3,32.3,500C32.3,241.7,241.7,32.3,500,32.3c258.3,0,467.7,209.4,467.7,467.7C967.7,758.3,758.3,967.7,500,967.7z M748.4,325L448,623.1L301.6,477.9c-4.4-4.3-11.4-4.3-15.8,0c-4.4,4.3-4.4,11.3,0,15.6l151.2,150c0.5,1.3,1.4,2.6,2.5,3.7c4.4,4.3,11.4,4.3,15.8,0l308.9-306.5c4.4-4.3,4.4-11.3,0-15.6C759.8,320.7,752.7,320.7,748.4,325z"</g>
		</svg>
						</a>
     </div>
    </div>`)
			.join("")}`;

		$("#drop").classList.add("hidden");
		$("footer").classList.add("hasFiles");
		$(".importar").classList.add("active");
		setTimeout(() => {
			$(".list-files").innerHTML = template;
		}, 1000);

		Object.keys(files).forEach(file => {
			let load = 2000 + (file * 2000); // fake load
			setTimeout(() => {
				$(`.file--${file}`).querySelector(".progress").classList.remove("active");
				$(`.file--${file}`).querySelector(".done").classList.add("anim");
			}, load);
		});
	}

	// trigger input
	$("#triggerFile").addEventListener("click", evt => {
		evt.preventDefault();
		$("input[type=file]").click();
	});

	// drop events
	$("#drop").ondragleave = evt => {
		$("#drop").classList.remove("active");
		evt.preventDefault();
	};
	$("#drop").ondragover = $("#drop").ondragenter = evt => {
		$("#drop").classList.add("active");
		evt.preventDefault();
	};
	$("#drop").ondrop = evt => {
		$("input[type=file]").files = evt.dataTransfer.files;
		$("footer").classList.add("hasFiles");
		$("#drop").classList.remove("active");
		evt.preventDefault();
	};

	//upload more
	$(".importar").addEventListener("click", () => {
		$(".list-files").innerHTML = "";
		$("footer").classList.remove("hasFiles");
		$(".importar").classList.remove("active");
		setTimeout(() => {
			$("#drop").classList.remove("hidden");
		}, 500);
	});

	// input change
	$("input[type=file]").addEventListener("change", handleFileSelect);
})();

   </script>
    -->