<mat-table #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="checkbox">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let contact">
      <mat-checkbox [(ngModel)]="checkboxes[contact.id]" (ngModelChange)="onSelectedChange(contact.id)" (click)="$event.stopPropagation()">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Avatar Column -->
  <!-- <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <img class="avatar" *ngIf="contact.avatar" [alt]="contact.name"
                 [src]="contact.avatar"/>
        </mat-cell>
    </ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="rolename">
    <mat-header-cell *matHeaderCellDef> Role Name</mat-header-cell>
    <mat-cell *matCellDef="let contact">
      <p class="text-truncate font-weight-600">{{ contact.rolename }}</p>
    </mat-cell>
  </ng-container>
  <!--Description-->
  <ng-container matColumnDef="desc">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let contact">
      <p class="text-truncate font-weight-600">{{ contact.desc }}</p>
    </mat-cell>
  </ng-container>
  <!-- Email Column -->
  <!-- <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{contact.email}}
            </p>
        </mat-cell>
    </ng-container> -->
  <!--status-->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let contact" style="color: #006699;justify-content: end center;">
      <p class="text-truncate font-weight-600">{{ contact.status }}</p>
    </mat-cell>
  </ng-container>
  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Phone</mat-header-cell>
    <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md >
      <p class="phone text-truncate">
        {{ contact.phone }}
      </p>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <mat-header-cell *matHeaderCellDef mat-sort-header style="justify-content: center;padding-right: 52px;">Action
    </mat-header-cell>
    <mat-cell *matCellDef="let contact" style="justify-content:start;">
             <button mat-icon-button  (click)="editContact(contact)"  style="color:#42a1f5;">
            <mat-icon>edit</mat-icon>
        </button><span>
            <button mat-icon-button color="accent" style=" color:red;background-color: white;"
            (click)="deleteContact(contact)">
                <mat-icon>delete</mat-icon>
            </button></span>
    </mat-cell>
</ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let contact; columns: displayedColumns"
    class="contact"
    [ngClass]="{ 'accent-50': checkboxes[contact.id] }"
    [@animate]="{ value: '*', params: { y: '100%' } }"
  >
    <!-- (click)="editContact(contact)"-->
  </mat-row>
</mat-table>
