<div id="products" class="page-layout carded fullwidth inner-scroll">
    <div class="ex2">
    <div class="content-card">
        <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>
<!-- <mat-table class="products-table" 
    

#table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}"> -->
    <!-- Checkbox Column -->
    <!-- <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <mat-checkbox [(ngModel)]="checkboxes[contact.id]" (ngModelChange)="onSelectedChange(contact.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container> -->

    <!-- Avatar Column -->
    <!-- <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <img class="avatar" *ngIf="contact.avatar" [alt]="contact.name"
                 [src]="contact.avatar"/>
        </mat-cell>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Job Title</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.name}} </p>
        </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="job">
        <mat-header-cell *matHeaderCellDef>JOB</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.job}} </p>
        </mat-cell>
    </ng-container> -->

    <!-- Email Column -->
    <!-- <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{contact.email}}
            </p>
        </mat-cell>
    </ng-container> -->


<!-- 
    <ng-container matColumnDef="post_date">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Posted On</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
            <p class=" post_date text-truncate">
                {{contact.post_date}}
            </p>
        </mat-cell>
    </ng-container>  -->

    
    <ng-container matColumnDef="x">
        <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class=" x text-truncate">
                {{contact.x}}
            </p>
        </mat-cell>
    </ng-container> 



    <ng-container matColumnDef="mob">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Contact</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
            <p class=" mob text-truncate">
                {{contact.mob}}
            </p>
        </mat-cell>
    </ng-container> 
    <!-- <ng-container matColumnDef="end_date">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>End Date</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
        
                
              
            <p class=" end_date text-truncate">
                {{contact.end_date}}
            </p>
    
        </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="vacancies">
        <mat-header-cell *matHeaderCellDef>Vacancies</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <!-- <button mat-mini-fab color="primary">10 -->
                <button mat-icon-button color="accent" style="background-color: white;margin-left: 5px;" (click)="openVacancies()">{{contact.vacancies}}</button>
                <!-- <button mat-flat-button color="primary" (click)="openVacancies()">{{contact.vacancies}}</button> -->


            <!-- <p class="vacancies text-truncate">
                {{contact.vacancies}}
            </p> -->
        <!-- </button> -->
            
        </mat-cell>
    </ng-container>

<!--<ng-container matColumnDef="can_status">
    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Status</mat-header-cell>
    <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
        <button mat-raised-button color="primary" (click)="openDialog()">{{order.can_status}}</button>
    </mat-cell>
</ng-container>-->


    <ng-container matColumnDef="mapped">

        <mat-header-cell *matHeaderCellDef>Mapped</mat-header-cell>
        <mat-cell *matCellDef="let contact">

            <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
            <!-- <button mat-mini-fab color="primary"> -->
                <button mat-raised-button color="basic" (click)="mappedCandidates()"style="color:green;">{{ contact.mapped}}</button>
                <!-- <button mat-flat-button="primary" (click)="openMapped()">{{contact.mapped}}</button> -->

            <!-- <p class=" mapped text-truncate" >
                {{contact.mapped}}
            </p> -->
        <!-- </button> -->
        </mat-cell>
    </ng-container>
    <!-- Phone Column -->
    <!-- <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Phone</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{contact.phone}}
            </p>
        </mat-cell>
    </ng-container> -->
    <!-- <ng-container matColumnDef="req">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Requirements</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{contact.req}}
            </p>
        </mat-cell>
    </ng-container> -->

    <!-- Job Title Column -->
    <!-- <ng-container matColumnDef="jobTitle">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Job title</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
            <p class="job-title text-truncate">
                {{contact.jobTitle}}
            </p>
        </mat-cell>
    </ng-container> -->

    <!-- Company Column -->
    <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Comp</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
            <p class="company text-truncate">
                {{contact.company}}
            </p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Action</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-xs style="text-align: center!important;">
            <!-- <button mat-icon-button *ngIf=".active"style="color:#42a1f5;background-color:white;"[routerLink]="'/apps/e-commerce/orders/'+order.id"><mat-icon>edit</mat-icon></button> -->
           <!-- <span><mat-icon *ngIf="order.active"style="color:#42a1f5;margin-left:10px"[routerLink]="'/apps/e-commerce/orders/'+order.id">email</mat-icon></span> -->
        
           <!-- <button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact.id)" aria-label="Toggle star">
            <mat-icon class="amber-fg" *ngIf="user.starred.includes(contact.id)">star</mat-icon>
            <mat-icon class="secondary-text" *ngIf="!user.starred.includes(contact.id)">star_border</mat-icon>
        </button><span> -->
        
           <button mat-icon-button color="accent" style="background-color: white;margin-left: 5px;" (click)="editContact(contact)"><mat-icon>info</mat-icon></button>
            <span><button mat-icon-button  style="color:red;margin-left: 5px;" (click)="deleteContact()"><mat-icon>delete</mat-icon></button></span>
        
        
        </mat-cell>
    </ng-container>
    <!-- Buttons Column -->
    <!-- <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <div fxFlex="row" fxLayoutAlign="end center">
                
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact.id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="user.starred.includes(contact.id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!user.starred.includes(contact.id)">star_border</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button> -->


               

<!-- 
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Action</mat-header-cell>
                    <mat-cell *matCellDef="let order" fxHide fxShow.gt-xs style="text-align: center!important;"> -->
                       
                       <!-- <span><mat-icon *ngIf="order.active"style="color:#42a1f5;margin-left:10px"[routerLink]="'/apps/e-commerce/orders/'+order.id">email</mat-icon></span> -->
                    <!-- <span><button mat-icon-button color="accent" style="background-color: white;margin-left: 5px;" (click)="openMail()"><mat-icon>mail</mat-icon></button></span>
                    
                    
                    </mat-cell>
                </ng-container> -->


<!-- 
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteContact(contact)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                        
                     
              
                    </button>
                </mat-menu> -->
            <!-- </div>

        </mat-cell>
    </ng-container> -->
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact">
             <!-- matRipple> -->
             <!-- [routerLink]="'/apps/e-commerce/products/'+product.id+'/'+product.handle"> -->
    </mat-row>
    <!-- <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
 
    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact"
            
             [ngClass]="{'accent-50':checkboxes[contact.id]}"
             [@animate]="{value:'*',params:{y:'100%'}}">

             
    </mat-row> -->
</mat-table>



</div>

</div>
</div>
<!-- </div> -->
<!-- </div> -->