@import "src/@fuse/scss/fuse";

contacts-contact-list {
  
    display: block !important;
    flex: 1 1 auto;
    width: 100%;

    .mat-table {
        width: 100%;
        background: transparent;
        box-shadow: none;

        .mat-column-checkbox {
            flex: 0 1 64px;
            vertical-align: middle!important;
           
        }
   
        .mat-column-rolename{
            padding-left:45px;
        }
        .mat-column-avatar {
            flex: 0 1 64px;
        }

        .mat-column-buttons {
            flex: 0 5 120px;
        }
.mat-column-desc{
    flex: 2 1 80px;
    width: 300px!important;
    padding-left: 18px;
}
.mat-column-status{
    flex: 0 -2 50px;
}


        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;
            

            .mat-cell {
                min-width: 0;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}
#add-contact-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;

    @include media-breakpoint('xs') {
        position: sticky;
        top: calc(100vh - 120px);
        bottom: auto;
    }
}
.log-table{
    height:350px;
  }


.mat-header-row {
    height: 63px!important;
  }
  mat-row {
    /* min-height: 52px; */
    height: 52px!important;
  }
